header {
  background-color: #131921;
  width: 100%;
}
.App-header {
  min-height: 70px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-around;
  margin: 0px;
}
